<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/Conference_Management</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1</property>
    <!--    <property name="connection.url">jdbc:mysql://localhost:3306/Conference_Management</property>-->
    <!--    <property name="connection.username">root</property>-->
    <!--    <property name="connection.password">1</property>-->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect </property>
    <property name="hibernate.ejb.metamodel.population">disabled</property>
    <property name="connection.pool_size">100</property>

    <mapping class="javafx.entities.AdminsEntity"/>
    <mapping resource="AdminsEntity.hbm.xml"/>
    <mapping resource="PlacesEntity.hbm.xml"/>
    <mapping class="javafx.entities.PlacesEntity"/>
    <mapping resource="UsersEntity.hbm.xml"/>
    <mapping class="javafx.entities.UsersEntity"/>
    <mapping class="javafx.entities.AttendConferencesEntity"/>
    <mapping resource="AttendConferencesEntity.hbm.xml"/>
    <mapping class="javafx.entities.ConferencesEntity"/>
    <mapping resource="ConferencesEntity.hbm.xml"/>


  </session-factory>
</hibernate-configuration>